/* Định dạng cho intro-container */
.intro-container {
    width: 100% !important;
    height: 100vh !important;
    position: relative !important;
    margin-bottom: 0 !important;
  }
  
  /* Định dạng cho video wrapper */
  .video-wrapper {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
  }
  
  .video-wrapper iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
  }
  
  /* Định dạng cho overlay text */
  .overlay-text {
    position: absolute !important;
    bottom: 10px !important; /* Khoảng cách từ đáy */
    left: 10px !important; /* Khoảng cách từ trái */
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 10px !important;
    border-radius: 5px !important;
    font-size: 1.5em !important;
  }
  